<h3>Top Projects</h3>
<input class="form-control mr-sm-2" type="search" placeholder="Filter by name" aria-label="Search" [(ngModel)]="searchText">
<p>Click any project to see details</p>
<div class="row card-group">
  <div class="col-4"  *ngFor="let project of projects|projectFilter : searchText">
      <div class="btn btn-info" (click)="displayDetailsEvent(project.id)">{{project.name}}</div>
      <div *ngIf="project.displayDetails">
        <ul>
          <li>Repo ID: {{project.id}}</li>
          <li>Stars: {{project.stargazers_count}}</li>
          <li>Description: {{project.description}}</li>
          <li>URL: {{project.url}}</li>
          <li>Created: {{project.created_at|date}}</li>
          <li>Last push: {{project.pushed_at|date}}</li>
        </ul>
      </div>
  </div>
</div>

